/* default package; // don't change it! */

import java.util.*;
import java.lang.*;
import java.io.*;

/* public class name can be MySrcCode only */
public class MySrcCode
{
	public static void main (String[] args)
	{
		/**
		 * your logic goes here
		 * 
		 **/
	}
}